@use '../base/mixins';
@use '../base/variables';

.movie-details {
    display: none;
    width: 85%;
    min-height: 80vh;
    // overflow: hidden;
    position: fixed;
    z-index: 1200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3em 4em;
    background-color: variables.$clr-neutral-gray-700;
    color: variables.$clr-white;
    box-shadow: 1px 1px 1px 100vw rgba(0,0,0,0.9);
    

    &__container {
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        .close-btn {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            i {
                display: inline-block;
                font-size: 1.2rem;
                width: 2rem;
                height: 2rem;
                line-height: 2rem;
                background-color: variables.$clr-neutral-gray-400;
                color: variables.$clr-white;
                border-radius: 50%;
                text-align: center;
                cursor: pointer;

                &:hover {
                    color: variables.$clr-accent;
                }
            }
        }

        .movie__info {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .movie__poster {
                width: 20%;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
            
            &--text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: auto;
                gap: 1.5rem;
                width: 100%;
                margin-left: 5em;
                letter-spacing: 1px;

                .title,
                .crew,
                .rating,
                .year {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    span {
                        letter-spacing: 1px;
                        font-size: .8rem;
                        font-weight: bolder;
                        text-transform: uppercase;
                    }
                }

                .title {

                    h1 {
                        font-size: 1.7rem;
                        text-transform: uppercase;
                    }
                }

                .crew {

                    p {
                        font-size: 1.3rem;
                        text-transform: capitalize;
                    }

                }

                .rating {

                    p {
                        font-size: 1.1rem;

                        &.green {
                            color: green;
                        }
        
                        &.orange {
                            color: orange;
                        }
        
                        &.red {
                            color: red;
                        }
                    }
                }

                .year {

                    p {
                        font-size: 1.1rem;
                    }
                }
            }

            .sub-info { 
                width: 100%;
                display: flex;
                align-items: center;
                gap: 3rem;

                .genres,
                .director {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    p {
                        font-size: 1.1rem;
                    }
                }

                span {
                    letter-spacing: 1px;
                    font-size: .8rem;
                    font-weight: bolder;
                    text-transform: uppercase;
                }


            }
        }

        .plot {
            line-height: 1.5;
            letter-spacing: 1px;
            font-size: 1rem;
            padding-block: 2em;
        }

            iframe {
                width: 60%;
                object-fit: cover;
                aspect-ratio: 16 / 9;
            }
        
        
    }
}