@use '../base/mixins';
@use '../base/variables';

.movie-details {
    display: none;
    width: 80vw;
    height: 80vh;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3em 4em;
    background-color: variables.$clr-neutral-gray-700;
    color: variables.$clr-white;
    box-shadow: 1px 1px 1px 100vw rgba(0,0,0,0.9);
    

    &__container {
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        .close-btn {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 2em;

            i {
                font-size: 2rem;
                color: variables.$clr-white;
                cursor: pointer;
                transition: all .25s linear;

                &:hover {
                    color: variables.$clr-accent;
                    transform: rotate(90deg);
                }
            }
        }

        .movie__info {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .movie__poster {
                width: 25%;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
            
            &--text {
                display: flex;
                flex-direction: column;
                margin-bottom: auto;
                gap: 3rem;
                width: 70%;
                min-height: 100%;
                letter-spacing: 1px;

                .title,
                .crew,
                .rating,
                .year {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    span {
                        background-color: rgba(4, 154, 4, 0.5);
                        padding: .5em 1em;
                        border-radius: .5rem;
                        letter-spacing: 1px;
                        font-size: .8rem;
                        font-weight: bolder;
                        text-transform: uppercase;
                    }
                }

                .title {

                    h1 {
                        font-size: 2rem;
                        text-transform: uppercase;
                    }
                }

                .crew {

                    p {
                        font-size: 1.5rem;
                        text-transform: capitalize;
                    }

                }

                .rating {
                    margin-bottom: 3rem;

                    p {
                        font-size: 1.5rem;

                        &.green {
                            color: rgb(8, 196, 8);
                        }
        
                        &.orange {
                            color: rgb(252, 182, 52);
                        }
        
                        &.red {
                            color: rgb(249, 28, 28);
                        }
                    }
                }

                .year {

                    p {
                        font-size: 1.5rem;
                    }
                }
            }

            .sub-info { 
                width: 100%;
                display: flex;
                align-items: center;
                gap: 3rem;

                .genres,
                .director {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    p {
                        font-size: 1.5rem;
                    }
                }

                span {
                    letter-spacing: 1px;
                    font-size: .8rem;
                    font-weight: bolder;
                    text-transform: uppercase;
                    background-color: rgba(4, 154, 4, 0.5);
                    padding: .5em 1em;
                    border-radius: .5rem;
                }

                .director {
                    margin-bottom: 3rem;
                }

            }
        }

        .plot {
            line-height: 1.5;
            letter-spacing: 1px;
            font-size: 1.5rem;
            padding-block: 2em;
        }

            iframe {
                width: 87%;
                object-fit: cover;
                aspect-ratio: 16 / 9 ;
            }
        
        
    }
}