@use '../base/mixins';
@use '../base/variables';

.top-movies {

    &__title {
        color: variables.$clr-white;
        font-size: 2rem;
        text-align: center;
        margin-block: 1em;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    &__swiper {
        background-color: variables.$clr-neutral-gray-700;
        width: 100%;
        padding: 2em;

        .slides {
            
            .slide {
                position: relative;
                display: flex;
                flex-flow: column;
                align-items: center;
                cursor: pointer;

                &:hover img {
                    transform: scale(1.05);
                }

                .top-movies__poster {
                    width: 100%;
                    overflow: hidden;

                    img {
                        display: block;
                        width: 100%;
                        object-fit: cover;
                        transition: all .5s ease;
                        user-select: none;
                    }
                }

                .top-movies__content {
                    width: 100%;
                    text-align: center;
                    background-color: variables.$clr-black;
                    padding-block: 1em;

                    .title {
                        color: variables.$clr-white;
                        font-size: 1rem;
                    }

                    .rating {
                        user-select: none;
                        pointer-events: none;
                        text-align: center;
                        line-height: 4rem;
                        height: 4rem;
                        width: 4rem;
                        font-size: 1rem;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: rgba(0,0,0,0.6);
                        border-radius: 50%;


                        &.green {
                            color: rgb(8, 196, 8);
                        }
        
                        &.orange {
                            color: rgb(252, 182, 52);
                        }
        
                        &.red {
                            color: rgb(249, 28, 28);
                        }
                    }
                }
            }

        }

        .swiper-button-prev,
        .swiper-button-next {
            color: variables.$clr-accent;
        }
    }
}
