@use '../base/mixins';
@use '../base/variables';

.top-movies {

    &__title {
        font-size: 2rem;
        text-align: center;
    }

    &__swiper {
        width: 100%;
        height: 100%;

        .slides {
            
            .slide {
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: space-between;

                .top-movies__poster {
                    width: 100%;

                    img {
                        display: block;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }

        }

        .swiper-button-prev,
        .swiper-button-next {
            top: 40%;
        }
    }
}
