@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

$clr-white: #fff;
$clr-black: #000;
$clr-green: #d6f6dd;
$clr-purple: #dac4f7;
$clr-pink: #f4989c;
$clr-blue: #acecf7;

$border: 2px solid $clr-pink;