@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
.top-movies__title {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.top-movies__swiper {
  background-color: #343332;
  width: 100%;
  padding: 2em;
}
.top-movies__swiper .slides .slide {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  cursor: pointer;
}
.top-movies__swiper .slides .slide:hover img {
  transform: scale(1.05);
}
.top-movies__swiper .slides .slide .top-movies__poster {
  width: 100%;
  overflow: hidden;
}
.top-movies__swiper .slides .slide .top-movies__poster img {
  display: block;
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
  user-select: none;
}
.top-movies__swiper .slides .slide .top-movies__content {
  width: 100%;
  text-align: center;
  background-color: #212121;
  padding-block: 1em;
}
.top-movies__swiper .slides .slide .top-movies__content .title {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
}
.top-movies__swiper .slides .slide .top-movies__content .rating {
  user-select: none;
  pointer-events: none;
  text-align: center;
  line-height: 4rem;
  height: 4rem;
  width: 4rem;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}
.top-movies__swiper .slides .slide .top-movies__content .rating.green {
  color: #08c408;
}
.top-movies__swiper .slides .slide .top-movies__content .rating.orange {
  color: #fcb634;
}
.top-movies__swiper .slides .slide .top-movies__content .rating.red {
  color: #f91c1c;
}
.top-movies__swiper .swiper-button-prev,
.top-movies__swiper .swiper-button-next {
  color: #00C9AF;
}

.movie-details {
  display: none;
  width: 80vw;
  height: 80vh;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3em 4em;
  background-color: #343332;
  color: #fff;
  box-shadow: 1px 1px 1px 100vw rgba(0, 0, 0, 0.9);
}
.movie-details__container {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.movie-details__container .close-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2em;
}
.movie-details__container .close-btn i {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.25s linear;
}
.movie-details__container .close-btn i:hover {
  color: #00C9AF;
  transform: rotate(90deg);
}
.movie-details__container .movie__info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-details__container .movie__info .movie__poster {
  width: 25%;
}
.movie-details__container .movie__info .movie__poster img {
  width: 100%;
  object-fit: cover;
}
.movie-details__container .movie__info--text {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  gap: 3rem;
  width: 70%;
  min-height: 100%;
  letter-spacing: 1px;
}
.movie-details__container .movie__info--text .title,
.movie-details__container .movie__info--text .crew,
.movie-details__container .movie__info--text .rating,
.movie-details__container .movie__info--text .year {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.movie-details__container .movie__info--text .title span,
.movie-details__container .movie__info--text .crew span,
.movie-details__container .movie__info--text .rating span,
.movie-details__container .movie__info--text .year span {
  background-color: rgba(4, 154, 4, 0.5);
  padding: 0.5em 1em;
  border-radius: 0.5rem;
  letter-spacing: 1px;
  font-size: 0.8rem;
  font-weight: bolder;
  text-transform: uppercase;
}
.movie-details__container .movie__info--text .title h1 {
  font-size: 2rem;
  text-transform: uppercase;
}
.movie-details__container .movie__info--text .crew p {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.movie-details__container .movie__info--text .rating {
  margin-bottom: 3rem;
}
.movie-details__container .movie__info--text .rating p {
  font-size: 1.5rem;
}
.movie-details__container .movie__info--text .rating p.green {
  color: #08c408;
}
.movie-details__container .movie__info--text .rating p.orange {
  color: #fcb634;
}
.movie-details__container .movie__info--text .rating p.red {
  color: #f91c1c;
}
.movie-details__container .movie__info--text .year p {
  font-size: 1.5rem;
}
.movie-details__container .movie__info .sub-info {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.movie-details__container .movie__info .sub-info .genres,
.movie-details__container .movie__info .sub-info .director {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.movie-details__container .movie__info .sub-info .genres p,
.movie-details__container .movie__info .sub-info .director p {
  font-size: 1.5rem;
}
.movie-details__container .movie__info .sub-info span {
  letter-spacing: 1px;
  font-size: 0.8rem;
  font-weight: bolder;
  text-transform: uppercase;
  background-color: rgba(4, 154, 4, 0.5);
  padding: 0.5em 1em;
  border-radius: 0.5rem;
}
.movie-details__container .movie__info .sub-info .director {
  margin-bottom: 3rem;
}
.movie-details__container .plot {
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 1.5rem;
  padding-block: 2em;
}
.movie-details__container iframe {
  width: 87%;
  object-fit: cover;
  aspect-ratio: 16/9;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 60.5%;
}

body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  background-color: #212121;
  min-height: 100vh;
}

.header {
  width: 100%;
  text-align: center;
  padding: 2em 10em;
  background-color: #212121;
}
.header__top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header__top-row .logo {
  font-size: 2rem;
  font-weight: 500;
  color: #00C9AF;
  letter-spacing: 1px;
}
.header__top-row .search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__top-row .search-icon .search-input {
  color: #fff;
  position: relative;
  right: -10px;
  padding: 0.5em;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  transform-origin: right;
  transform: scaleX(0);
  transition: all 0.25s ease;
}
.header__top-row .search-icon .search-input.active {
  transform: scaleX(1);
}
.header__top-row .search-icon .search-input:focus {
  background: #00C9AF;
}
.header__top-row .search-icon .search-input::placeholder {
  color: #212121;
}
.header__top-row .search-icon i {
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  border-radius: 50%;
  background-color: #00C9AF;
  z-index: 777;
  transition: all 0.5s ease;
}
.header .form {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  color: #212121;
  letter-spacing: 1px;
  display: none;
  border-top: 2px solid #00C9AF;
  margin-top: 2em;
  padding-block: 2em;
  transform: scaleY(0);
  transform-origin: top;
}
.header .form.active {
  transform: scaleY(1);
  display: block;
}
.header .form label {
  font-size: 1.5rem;
  color: #D3D2D1;
}
.header .form .genre {
  margin-inline: 1em;
}
.header .form input[type=radio] {
  transform: translateY(0.15rem);
  border: 2px solid #00C9AF;
  background-color: white;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.header .form input[type=radio]::before {
  content: "";
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #00C9AF;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
}
.header .form input[type=radio]:checked::before {
  transform: translate(-50%, -50%) scale(1);
}
.header .random-btn {
  cursor: pointer;
  padding: 1em 3em;
  outline: none;
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  background-color: #00C9AF;
  border-radius: 0.5rem;
}

.main {
  position: relative;
}
.main .popular-movies {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  position: relative;
  padding: 2em;
}
.main .popular-movies h1 {
  font-size: 2.5rem;
  position: absolute;
  top: -5rem;
  left: 0;
  right: 0;
}
.main .popular-movies .movie {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: scale 0.5s ease;
}
.main .popular-movies .movie:hover .movie__poster img {
  transform: scale(1.05);
}
.main .popular-movies .movie__poster {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}
.main .popular-movies .movie__poster img {
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}
.main .popular-movies .movie__content {
  width: 100%;
  text-align: center;
  background-color: #343332;
  padding-block: 1em;
}
.main .popular-movies .movie__content .title {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
}
.main .popular-movies .movie__content .rating {
  user-select: none;
  pointer-events: none;
  text-align: center;
  line-height: 4rem;
  height: 4rem;
  width: 4rem;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  z-index: 2;
}
.main .popular-movies .movie__content .rating.green {
  color: #08c408;
}
.main .popular-movies .movie__content .rating.orange {
  color: #fcb634;
}
.main .popular-movies .movie__content .rating.red {
  color: #f91c1c;
}
.main .popular-movies .movie .movie__overview {
  background-color: #f4989c;
  position: absolute;
  padding: 3em;
  bottom: 0;
  left: 0;
  text-align: center;
  transform: translateY(101%);
  transition: transform 0.5s ease;
}
.main .popular-movies .movie .movie__overview.active {
  transform: translateY(0);
}
.main .popular-movies .movie .movie__overview--header {
  padding-inline: 1em;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .popular-movies .movie .movie__overview--header .close-btn {
  font-size: 1.3rem;
  cursor: pointer;
  background-color: #acecf7;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 50%;
}
.main .popular-movies .movie .movie__overview--header .close-btn:hover {
  transform: rotate(90deg);
  color: #d6f6dd;
}
.main .popular-movies .movie .movie__overview h2 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  color: #212121;
  letter-spacing: 1px;
}
.main .popular-movies .movie .movie__overview p {
  font-size: 1rem;
  font-weight: 500;
  color: #212121;
  letter-spacing: 1px;
}
.main .popular-movies .movie .overview-btn {
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 0;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: #d6f6dd;
  bottom: 20px;
  cursor: pointer;
}
.main .popular-movies .movie .overview-btn:hover {
  border: 2px solid #00C9AF;
}
.main .popular-movies .movie .overview-btn i {
  color: #f4989c;
  font-size: 1.5rem;
}

@media (max-width: 991px) {
  .movie-details__container .movie__info {
    flex-direction: column;
  }
}
@media (max-width: 710px) {
  .header__top-row {
    display: block;
  }
  .header__top-row .search-icon {
    margin-block: 2em;
  }
  .header .form label {
    font-size: 1.2rem;
  }
  .header .form input[type=radio] {
    transform: translateY(0.22rem);
  }

  .movie-details__container .close-btn {
    margin: 0;
  }
  .movie-details__container .movie__info {
    flex-direction: column;
  }
  .movie-details__container .movie__info .movie__poster {
    width: 30rem;
    margin-block: 3rem;
  }
  .movie-details__container .movie__info--text {
    width: 100%;
  }
  .movie-details__container .movie__info .sub-info {
    flex-direction: column;
    align-items: flex-start;
  }
}

/*# sourceMappingURL=main.css.map */
