@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
.top-movies__title {
  font-size: 2rem;
  text-align: center;
}
.top-movies__swiper {
  width: 100%;
  height: 100%;
}
.top-movies__swiper .slides .slide {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}
.top-movies__swiper .slides .slide .top-movies__poster {
  width: 100%;
}
.top-movies__swiper .slides .slide .top-movies__poster img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.top-movies__swiper .swiper-button-prev,
.top-movies__swiper .swiper-button-next {
  top: 40%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  font-size: 62.5%;
}

.header {
  width: 100%;
  text-align: center;
  padding: 2em 1em;
  background-color: #d6f6dd;
}
.header__top-row {
  width: 100%;
}
.header__top-row .logo {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  color: #f4989c;
  letter-spacing: 1px;
}
.header__top-row .search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__top-row .search-icon .search-input {
  position: relative;
  right: -10px;
  padding: 0.5em 2em;
  outline: none;
  border: none;
  transform-origin: right;
  transform: scaleX(0);
  transition: all 0.25s ease;
}
.header__top-row .search-icon .search-input.active {
  transform: scaleX(1);
}
.header__top-row .search-icon .search-input:focus {
  background: #acecf7;
}
.header__top-row .search-icon .search-input::placeholder {
  color: #000;
}
.header__top-row .search-icon i {
  cursor: pointer;
  font-size: 1rem;
  color: #f4989c;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 50%;
  background: #e0e0e0;
  z-index: 777;
  transition: all 0.5s ease;
}
.header .form {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  color: #000;
  letter-spacing: 1px;
  padding-block: 1em;
  transform: scaleY(0);
  display: none;
  transform-origin: top;
}
.header .form.active {
  transform: scaleY(1);
  display: block;
}
.header .form label:where(:not(:first-of-type)) {
  margin-left: 1em;
}
.header .form input[type=radio] {
  transform: translateY(0.25em);
  border: 2px solid #f4989c;
  background-color: white;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.header .form input[type=radio]::before {
  content: "";
  position: absolute;
  width: 0.55rem;
  height: 0.55rem;
  border-radius: 50%;
  background-color: #acecf7;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
}
.header .form input[type=radio]:checked::before {
  transform: translate(-50%, -50%) scale(1);
}
.header .random-btn {
  cursor: pointer;
  padding: 1em 3em;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  color: #000;
  letter-spacing: 1px;
  background-color: #acecf7;
  border-radius: 0.5rem;
  margin-top: 2em;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  padding: 2em;
}
.main .movie {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: scale 0.5s ease;
}
.main .movie:hover .movie__poster img {
  transform: scale(1.1);
}
.main .movie__poster {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}
.main .movie__poster img {
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}
.main .movie__content {
  background-color: #d6f6dd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3em;
  width: 100%;
}
.main .movie__content .title {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;
  color: #000;
  letter-spacing: 1px;
}
.main .movie__content .rating {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  color: #000;
  letter-spacing: 1px;
}
.main .movie__content .rating.green {
  color: green;
}
.main .movie__content .rating.orange {
  color: orange;
}
.main .movie__content .rating.red {
  color: red;
}
.main .movie .movie__overview {
  background-color: #f4989c;
  position: absolute;
  padding: 3em;
  bottom: 0;
  left: 0;
  text-align: center;
  transform: translateY(101%);
  transition: transform 0.5s ease;
}
.main .movie .movie__overview.active {
  transform: translateY(0);
}
.main .movie .movie__overview--header {
  padding-inline: 1em;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .movie .movie__overview--header .close-btn {
  font-size: 1.3rem;
  cursor: pointer;
  background-color: #acecf7;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 50%;
}
.main .movie .movie__overview--header .close-btn:hover {
  transform: rotate(90deg);
  color: #d6f6dd;
}
.main .movie .movie__overview h2 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  color: #000;
  letter-spacing: 1px;
}
.main .movie .movie__overview p {
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  letter-spacing: 1px;
}
.main .movie .overview-btn {
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 0;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: #d6f6dd;
  bottom: 20px;
  cursor: pointer;
}
.main .movie .overview-btn:hover {
  border: 2px solid #f4989c;
}
.main .movie .overview-btn i {
  color: #f4989c;
  font-size: 1.5rem;
}

@media (min-width: 710px) {
  .header__top-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=main.css.map */
