@use './base/mixins';
@use './base/variables';
@use './modules/top-movies';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: variables.$clr-white;
    font-family: 'Montserrat', sans-serif;
    background-color: variables.$clr-black;
    min-height: 100vh;
    font-size: 62.5%;
}


.header {
    width: 100%;
    text-align: center;
    padding: 2em 1em;
    background-color: variables.$clr-black;

    &__top-row {
        width: 100%;

        .logo {
            @include mixins.graphText(1.5rem, 500, variables.$clr-accent);
        }

        .search-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            // margin-left: auto;
            // width: 100%;
            // padding-block: 2em;
            // margin-top: 1em;

            .search-input {
                position: relative;
                right: -10px;
                padding: .5em 2em;
                outline: none;
                border: none;
                transform-origin: right;
                transform: scaleX(0);
                transition: all .25s ease;

                &.active {
                    transform: scaleX(1);
                }

                &:focus {
                    background: variables.$clr-accent;
                }

                &::placeholder {
                    color: variables.$clr-black;
                }
            }

            i {
                cursor: pointer;
                font-size: 1rem;
                color: variables.$clr-white;
                width: 2.5rem;
                height: 2.5rem;
                line-height: 2.5rem;
                border-radius: 50%;
                background-color: variables.$clr-accent;
                z-index: 777;
                transition: all .5s ease;

                // &.active {
                //     transform: translateX(110px) rotate(720deg);
                // }
            }
        }
    }

    .form {
        // border-top: variables.$border;
        @include mixins.titleText(.8rem, 600, variables.$clr-black);
        padding-block: 1em;
        transform: scaleY(0);
        display: none;
        transform-origin: top;

        &.active {
            transform: scaleY(1);
            display: block;
        }

        label {
            color: variables.$clr-neutral-gray-200;
        }

        label:where(:not(:first-of-type)) {
            margin-left: 1em;
        }

        input[type="radio"] {
            transform: translateY(0.25em);
            border: variables.$border;
            background-color: white;
            appearance: none;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            position: relative;
            cursor: pointer;

            &::before {
                content: '';
                position: absolute;
                width: .55rem;
                height: .55rem;
                border-radius: 50%;
                background-color: variables.$clr-accent;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%) scale(0);
            }

            &:checked::before {
                transform: translate(-50%,-50%) scale(1);
            }
        }
    }

    .random-btn {
        cursor: pointer;
        padding: 1em 3em;
        outline: none;
        border: none;
        @include mixins.titleText(.8rem, 600, variables.$clr-black);
        background-color: variables.$clr-blue;
        border-radius: .5rem;
        margin-top: 2em;
    }
}

.popular-movies { 
    @include mixins.grid(25rem);
    padding: 2em;

    .movie {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
        height: 500px;
        // padding-inline: 10em;
        // position: relative;
        overflow: hidden;
        transition: scale .5s ease;


        &:hover .movie__poster img {
            transform: scale(1.05);
        }

        &__poster {
            // width: 70%;
            overflow: hidden;
            cursor: pointer;

            img {
                width: 100%;
                // height: 50vh;
                object-fit: cover;
                transition: all .5s ease;

            }
        }

        &__content {
            background-color: variables.$clr-green;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 3em;
            width: 100%;

            .title {
                @include mixins.titleText(.7rem, 600, variables.$clr-black);
                // display: none;
            }

            .rating {
                @include mixins.titleText(.9rem, 600, variables.$clr-black);

                &.green {
                    color: green;
                }

                &.orange {
                    color: orange;
                }

                &.red {
                    color: red;
                }
            }
        }

        .movie__overview {
            background-color: variables.$clr-pink;
            position: absolute;
            padding: 3em;
            bottom: 0;
            left: 0;
            text-align: center;
            transform: translateY(101%);
            transition: transform .5s ease;

            &.active {
                transform: translateY(0);
            }

            &--header {
                padding-inline: 1em;
                margin-bottom: 2em;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .close-btn {
                    font-size: 1.3rem;
                    cursor: pointer;
                    background-color: variables.$clr-blue;
                    width: 2rem;
                    height: 2rem;
                    line-height: 2rem;
                    border-radius: 50%;

                    &:hover {
                        transform: rotate(90deg);
                        color: variables.$clr-green;
                    }
                }
            }


            h2 {
                @include mixins.titleText(1.3rem, 700, variables.$clr-black);
            }

            p {
                @include mixins.graphText(1rem, 500, variables.$clr-black);
            }
        }

        .overview-btn {
            display: grid;
            place-items: center;
            position: absolute;
            bottom: 0;
            width: 3rem;
            height: 3rem;
            line-height: 3rem;
            border-radius: 50%;
            outline: none;
            border: none;
            background-color: variables.$clr-green;
            bottom: 20px;
            cursor: pointer;

            &:hover {
                border: variables.$border;
            }

            i {
                color: variables.$clr-pink;
                font-size: 1.5rem;
            }
        }
    }
}

@include mixins.media-710 {
    .header {
        
        &__top-row {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
}