@use './base/mixins';
@use './base/variables';
@use './modules/top-movies';
@use './modules/movie-details';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 60.5%;
}

body {
    background-color: variables.$clr-white;
    font-family: 'Montserrat', sans-serif;
    background-color: variables.$clr-black;
    min-height: 100vh;
}


.header {
    width: 100%;
    text-align: center;
    padding: 2em 10em;
    background-color: variables.$clr-black;

    &__top-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .logo {
            @include mixins.graphText(2rem, 500, variables.$clr-accent);
        }

        .search-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .search-input {
                color: variables.$clr-white;
                position: relative;
                right: -10px;
                padding: .5em;
                outline: none;
                border: none;
                border-radius: .5rem;
                transform-origin: right;
                transform: scaleX(0);
                transition: all .25s ease;

                &.active {
                    transform: scaleX(1);
                }

                &:focus {
                    background: variables.$clr-accent;
                }

                &::placeholder {
                    color: variables.$clr-black;
                }
            }

            i {
                cursor: pointer;
                font-size: 1.5rem;
                color: variables.$clr-white;
                width: 3.5rem;
                height: 3.5rem;
                line-height: 3.5rem;
                border-radius: 50%;
                background-color: variables.$clr-accent;
                z-index: 777;
                transition: all .5s ease;
            }
        }
    }

    .form {
        @include mixins.titleText(.8rem, 600, variables.$clr-black);
        display: none;
        border-top: variables.$border;
        margin-top: 2em;
        padding-block: 2em;
        transform: scaleY(0);
        transform-origin: top;

        &.active {
            transform: scaleY(1);
            display: block;
        }

        label {
            font-size: 1.5rem;
            color: variables.$clr-neutral-gray-200;
        }

        .genre {
            margin-inline: 1em;
        }

        input[type="radio"] {
            transform: translateY(0.15rem);
            border: variables.$border;
            background-color: white;
            appearance: none;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            position: relative;
            cursor: pointer;

            &::before {
                content: '';
                position: absolute;
                width: .70rem;
                height: .70rem;
                border-radius: 50%;
                background-color: variables.$clr-accent;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%) scale(0);
            }

            &:checked::before {
                transform: translate(-50%,-50%) scale(1);
            }
        }
    }

    .random-btn {
        cursor: pointer;
        padding: 1em 3em;
        outline: none;
        border: none;
        letter-spacing: 1px;
        @include mixins.titleText(1rem, 600, variables.$clr-white);
        background-color: variables.$clr-accent;
        border-radius: .5rem;
    }
}

.main {
    position: relative;

.popular-movies { 
    margin-top: 8rem;
    @include mixins.grid(20rem);
    position: relative;
    padding: 2em;

    h1 {
        font-size: 2.5rem;
        position: absolute;
        top: -5rem;
        left: 0; right: 0;
    }

    .movie {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
        position: relative;
        overflow: hidden;
        transition: scale .5s ease;


        &:hover .movie__poster img {
            transform: scale(1.05);
        }

        &__poster {
            width: 100%;
            overflow: hidden;
            cursor: pointer;

            img {
                width: 100%;
                object-fit: cover;
                transition: all .5s ease;

            }
        }

        &__content {
            width: 100%;
            text-align: center;
            background-color: variables.$clr-neutral-gray-700;
            padding-block: 1em;

            .title {
                @include mixins.titleText(1.2rem, 600, variables.$clr-white);
            }

            .rating {
                user-select: none;
                pointer-events: none;
                text-align: center;
                line-height: 4rem;
                height: 4rem;
                width: 4rem;
                font-size: 1rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: rgba(0,0,0,0.5);
                border-radius: 50%;
                z-index: 2;

                &.green {
                    color: rgb(8, 196, 8);
                }

                &.orange {
                    color: rgb(252, 182, 52);
                }

                &.red {
                    color: rgb(249, 28, 28);
                }
            }
        }

        .movie__overview {
            background-color: variables.$clr-pink;
            position: absolute;
            padding: 3em;
            bottom: 0;
            left: 0;
            text-align: center;
            transform: translateY(101%);
            transition: transform .5s ease;

            &.active {
                transform: translateY(0);
            }

            &--header {
                padding-inline: 1em;
                margin-bottom: 2em;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .close-btn {
                    font-size: 1.3rem;
                    cursor: pointer;
                    background-color: variables.$clr-blue;
                    width: 2rem;
                    height: 2rem;
                    line-height: 2rem;
                    border-radius: 50%;

                    &:hover {
                        transform: rotate(90deg);
                        color: variables.$clr-green;
                    }
                }
            }


            h2 {
                @include mixins.titleText(1.3rem, 700, variables.$clr-black);
            }

            p {
                @include mixins.graphText(1rem, 500, variables.$clr-black);
            }
        }

        .overview-btn {
            display: grid;
            place-items: center;
            position: absolute;
            bottom: 0;
            width: 3rem;
            height: 3rem;
            line-height: 3rem;
            border-radius: 50%;
            outline: none;
            border: none;
            background-color: variables.$clr-green;
            bottom: 20px;
            cursor: pointer;

            &:hover {
                border: variables.$border;
            }

            i {
                color: variables.$clr-pink;
                font-size: 1.5rem;
            }
        }
    }
}
}

@include mixins.media-991 {

    .movie-details {

        &__container {

            .movie__info {
                flex-direction: column;
            }
        }
    }
}

@include mixins.media-710 {
    .header {
        
        &__top-row {
            display: block;

            .search-icon {
                margin-block: 2em;
            }
        }

        .form {

            label {
                font-size: 1.2rem;
            }

            input[type="radio"] {
                transform: translateY(.22rem);
            }
        }
    }

    .movie-details {

        &__container {

            .close-btn {
                margin: 0;
            }

            .movie__info {
                flex-direction: column;

                .movie__poster {
                    width: 30rem;
                    margin-block: 3rem;
                }

                &--text {
                    width: 100%;
                }

                .sub-info {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }
    }


}